<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

    <meta charset="utf-8">
    <title>ジンジャーチキンカレー | 料理 | NHKらいふ</title>
    <meta name="description" content="ルーを使わず、ねぎとしょうが、にんにくが効いたフレッシュなおいしさ。家にある調味料だけでつくれます。">
    <meta name="keywords" content="料理,美容,健康,ファッション,雑貨,園芸,ガーデニング,住まい,らいふ,life,NHK,日本放送協会,Japan Broadcasting Corporation">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@nhk">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="NHKらいふ">
    <meta property="og:url" content="http://www.nhk.or.jp/lifestyle/video/detail/00002.html">
    <meta property="og:image" content="http://www.nhk.or.jp/lifestyle/r69s2g000000009y-img/logo.png">
    <meta property="og:description" content="ルーを使わず、ねぎとしょうが、にんにくが効いたフレッシュなおいしさ。家にある調味料だけでつくれます。">
    <link rel="canonical" href="http://www.nhk.or.jp/lifestyle/video/detail/00002.html">
    <script type="application/ld+json">
        [
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "NHKらいふ",
            "description": "「らいふ」は、動画満載のくらしの情報まとめページです。料理、園芸・ガーデニング、住まい、美容、健康、ファッションなどのテーマで、NHKで放送した生活に役立つ情報を、動画と特集記事でお届けします。毎日がちょっと上質になる、くらしのヒントが見つかります。",
            "url": "http://www.nhk.or.jp/lifestyle/",
            "publisher": {
                "@type": "Organization",
                "name": "NHKらいふ",
                "url":"http://www.nhk.or.jp/lifestyle/",
                "logo":"http://www.nhk.or.jp/lifestyle/r69s2g000000009y-img/logo-schema.png"
            }
        }
    ]

    </script>
    <link rel="stylesheet" href="../../assets/css/main.css?date=20171110" />
    <script src="/common/fonts/nol_wfn.js" charset="utf-8"></script>
    <script src="//www.nhk.or.jp/common/sp/nol_SmartPhone.js" charset="utf-8"></script>
    <script src="//www.nhk.or.jp/common/sns/nol_share.js" charset="UTF-8"></script>
    <script>
        NHKSNS.initSNSOnLoad();
    </script>

</head>

<body>
    <div class="globalWrapper">
        <script type="text/javascript">
            var params = nol_getDeviceType();
            var redirectTarget = location.href.replace(/jp\/lifestyle/g, "jp/lifestyle/sp");
            if (params[0] == "smart" && redirectTarget !== location.href) { window.location.href = redirectTarget };
        </script>
        <script type="text/javascript">
            nol_showCmnHeader({ smpMode: false });
        </script>

        <header class="header">
            <div class="header__inner">
                <div class="header__left">
                    <a class="header__logo" href="../../index.html"></a>
                    <div class="header__menu">
                        <ul class="header__menu__list">
                            <li><a href="#" class="header__menu__head header__menu__head--close">メニュー</a></li>
                            <li class="is-active"><a href="../../cooking/index.html" class="header__menu__head">料理</a></li>
                            <li><a href="../../garden/index.html" class="header__menu__head">園芸・ガーデニング</a></li>
                            <li><a href="../../home/index.html" class="header__menu__head">住まい</a></li>
                            <li><a href="../../fashion/index.html" class="header__menu__head">ファッション・雑貨</a></li>
                            <li><a href="../../health/index.html" class="header__menu__head">美容・健康</a></li>
                            <li><a href="../../other/index.html" class="header__menu__head">その他</a></li>
                            <li><a href="#" class="header__menu__head header__menu__head--about js-about">らいふとは</a></li>
                        </ul>
                    </div>
                </div>
                <a href="javascript:void(0)" class="header__menuBtn">メニュー</a>
                <div class="header__search">
                    <form class="" action="../../search/index.html" method="get">
                        <div class="c-textField">
                            <button type="submit" class="c-textField__searchBtn">検索</button>
                            <input class="c-textField__input" type="search" name="q" value="" placeholder="キーワード検索">
                        </div>
                    </form>
                </div>
                <div class="header__about">
                    <a class="c-link js-about" href="#">らいふとは</a>
                </div>
            </div>
        </header>
        <div class="p-conceptModal">
            <div class="p-conceptModal__inner">
                <div class="p-conceptModal__inner__pre" style="background-image: url(../../assets/img/common/pic_about_01.jpg)">&emsp;</div>
                <div class="p-conceptModal__body">
                    <a href="#" class="p-conceptModal__close js-about-close">閉じる</a>
                    <div class="p-conceptModal__left">らいふ</div>
                    <div class="p-conceptModal__right">
                        <p class="p-conceptModal__title">毎日のくらしを<br>ちょっとだけ ハイ クオリティーに</p>
                        <p class="p-conceptModal__text">仕事に子育てに疲れちゃって、家事をこなしていくだけで手一杯。でも、朝食は家族と楽しく食べたいし、お風呂場の汚れも、ぽっちゃりお腹もなんとかしたいし…。<br>そんなあなたの毎日をワンランクアップさせる、くらしの情報サイトNHK
                            「らいふ」。知って得するくらしのアイデアを１分間にぎゅっとまとめた動画や、専門家が監修した記事を集めました。あなたの毎日を楽しく豊かにしてくれる情報が満載です。</p>
                    </div>
                </div>
                <div class="p-conceptModal__inner__next" style="background-image: url(../../assets/img/common/pic_about_02.jpg)">&emsp;</div>
            </div>
        </div>


        <main class="main">
            <ul class="p-breadCrumb ">
                <li><a href='../../index.html'>ホーム</a></li>
                <li><a href='../../cooking/index.html'>料理</a></li>
                <li><a href='00002.html'>ジンジャーチキンカレー</a></li>
            </ul>
            <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "BreadcrumbList",
                    "itemListElement": 
                        [
                            {"@type":"ListItem","position":1,"item":{"@id":"../../index.html","name":"ホーム"}},
                            {"@type":"ListItem","position":2,"item":{"@id":"../../cooking/index.html","name":"料理"}},
                            {"@type":"ListItem","position":3,"item":{"@id":"00002.html","name":"ジンジャーチキンカレー"}}
		                ]
	            }
            </script>

            <article class="article">
                <script>
                    var NHKLIFE_HISTORYDATA = { //閲覧履歴に入れるためのobject
                        category: "",
                        published_date: "2017年3月2日",
                        title: "ジンジャーチキンカレー",
                        desc: "ルーを使わず、ねぎとしょうが、にんにくが効いたフレッシュなおいしさ。家にある調味料だけでつくれます。",
                        image_src: "/lifestyle/tmp_moviedb/TKR1779535_41226.jpg",
                        href: "00002.html",
                        videoInfo: {
                            duration: "01:17",
                            playCount: ""
                        }
                    }
                </script>
                <div class="vid-playArea">
                    <div class="vid-playArea__inner">
                        <div class="vid-playArea__video">
                            <iframe src="//movie-s.nhk.or.jp/player.php?v=qe376fug&wmode=transparen&r=true" height="450" width="800" frameborder="0"
                                scrolling="no" align="middle" allowfullscreen>
                            </iframe>
                        </div>

                        <span class="c-categoryTag c-categoryTag--large c-categoryTag--cooking">料理</span>

                        <h1 class="vid-playArea__title">ジンジャーチキンカレー</h1>
                        <p class="vid-playArea__desc">ルーを使わず、ねぎとしょうが、にんにくが効いたフレッシュなおいしさ。家にある調味料だけでつくれます。</p>
                        <dl class="vid-playArea__data">
                            <dt>公開日</dt>
                            <dd>2017年3月2日</dd>
                        </dl>
                    </div>
                </div>

                <script>
                    var NHKLIFE_LECTURER_PIC = "../../r69s2g0000000gfi-img/244_waki_39_shirane.jpg"; //WRで画像登録
                    var NHKLIFE_LECTURER_LINK = "http://www.kyounoryouri.jp/teacher/recipe/244"; //WRで文字列入力
                </script>

                <script id="NHKLIFE_RECIPEDATA" type="application/xml">
                    <?xml version="1.0" encoding="UTF-8" ?>
                    <MaterialInformation>
                        <HeaderInformation>
                            <DbCode>KR</DbCode>
                            <UniqueId>00041226</UniqueId>
                            <MaterialId>KR00041226</MaterialId>
                            <MaterialTitle>ジンジャーチキンカレー</MaterialTitle>
                            <MaterialTitle_alt></MaterialTitle_alt>
                            <MaterialTitle_en></MaterialTitle_en>
                            <Synopsis>
                                <![CDATA[ジンジャーチキンカレー]]>
                            </Synopsis>
                            <Detail>
                                <![CDATA[カレーはルーを使わず、ねぎとしょうが、にんにくをきかせたフレッシュなおいしさ。家にある調味料だけで、本格派の仕上がりに！]]>
                            </Detail>
                            <ContentProvider>NHK Educational Corporation</ContentProvider>
                            <OnairProgram>きょうの料理</OnairProgram>
                            <OnairDate>2017-02-08</OnairDate>
                            <OnairMedia>ETV</OnairMedia>
                            <PermissionStartDate>2017-03-22</PermissionStartDate>
                            <PermissionEndDate>2022-03-22</PermissionEndDate>
                            <PubDate>2017-01-11</PubDate>
                        </HeaderInformation>
                        <MainInformation>
                            <Recipe>
                                <RecipeId>41226</RecipeId>
                                <Title>ジンジャーチキンカレー</Title>
                                <Lead>カレーはルーを使わず、ねぎとしょうが、にんにくをきかせたフレッシュなおいしさ。家にある調味料だけで、本格派の仕上がりに！</Lead>
                                <Authors>
                                    <Author order='1'>
                                        <AuthorId>244</AuthorId>
                                        <AuthorName>脇 雅世</AuthorName>
                                    </Author>
                                </Authors>
                                <Supervisor></Supervisor>
                                <PubDate></PubDate>
                                <Genre>洋食</Genre>
                                <Type>主菜</Type>
                                <Method>煮る</Method>
                                <Nutrition>
                                    <Value>900</Value>
                                    <Unit></Unit>
                                    <Remark>1人分</Remark>
                                </Nutrition>
                                <Salt>
                                    <Value>4.60</Value>
                                    <Remark>1人分</Remark>
                                </Salt>
                                <Duration>
                                    <Value>35</Value>
                                    <Remark></Remark>
                                </Duration>
                                <Yield>
                                    <Value>2</Value>
                                    <Unit></Unit>
                                    <Remark></Remark>
                                </Yield>
                                <Ingredients>
                                    <Ingredient>
                                        <ingredient>鶏もも肉</ingredient>
                                        <ingredient_remark></ingredient_remark>
                                        <ingredient_process></ingredient_process>
                                        <ingredient_form>骨付き/ブツ切り</ingredient_form>
                                        <quantity>450</quantity>
                                        <unit>g</unit>
                                        <quantity_alt></quantity_alt>
                                        <unit_alt></unit_alt>
                                        <quantity_remark></quantity_remark>
                                        <ref></ref>
                                        <isPrincipal>true</isPrincipal>
                                    </Ingredient>
                                    <Ingredient>
                                        <ingredient>ねぎ</ingredient>
                                        <ingredient_remark></ingredient_remark>
                                        <ingredient_process></ingredient_process>
                                        <ingredient_form></ingredient_form>
                                        <quantity>2</quantity>
                                        <unit>本</unit>
                                        <quantity_alt>200</quantity_alt>
                                        <unit_alt>g</unit_alt>
                                        <quantity_remark></quantity_remark>
                                        <ref></ref>
                                        <isPrincipal>false</isPrincipal>
                                    </Ingredient>
                                    <Ingredient>
                                        <ingredient>しょうが</ingredient>
                                        <ingredient_remark></ingredient_remark>
                                        <ingredient_process>みじん切り</ingredient_process>
                                        <ingredient_form></ingredient_form>
                                        <quantity>2</quantity>
                                        <unit>大さじ</unit>
                                        <quantity_alt></quantity_alt>
                                        <unit_alt></unit_alt>
                                        <quantity_remark></quantity_remark>
                                        <ref></ref>
                                        <isPrincipal>false</isPrincipal>
                                    </Ingredient>
                                    <Ingredient>
                                        <ingredient>にんにく</ingredient>
                                        <ingredient_remark></ingredient_remark>
                                        <ingredient_process></ingredient_process>
                                        <ingredient_form></ingredient_form>
                                        <quantity>1</quantity>
                                        <unit>かけ</unit>
                                        <quantity_alt></quantity_alt>
                                        <unit_alt></unit_alt>
                                        <quantity_remark></quantity_remark>
                                        <ref></ref>
                                        <isPrincipal>false</isPrincipal>
                                    </Ingredient>
                                    <Ingredient>
                                        <ingredient>カレー粉</ingredient>
                                        <ingredient_remark></ingredient_remark>
                                        <ingredient_process></ingredient_process>
                                        <ingredient_form></ingredient_form>
                                        <quantity>2</quantity>
                                        <unit>大さじ</unit>
                                        <quantity_alt></quantity_alt>
                                        <unit_alt></unit_alt>
                                        <quantity_remark></quantity_remark>
                                        <ref></ref>
                                        <isPrincipal>false</isPrincipal>
                                    </Ingredient>
                                    <Ingredient>
                                        <ingredientsSet>
                                            <set_title>A</set_title>
                                            <ingredientsSet_remark></ingredientsSet_remark>
                                            <ref></ref>
                                            <ingredients>
                                                <item>
                                                    <ingredient>トマトの水煮</ingredient>
                                                    <ingredient_remark></ingredient_remark>
                                                    <ingredient_process></ingredient_process>
                                                    <ingredient_form>缶詰/カットタイプ</ingredient_form>
                                                    <quantity>1/2</quantity>
                                                    <unit>缶</unit>
                                                    <quantity_alt>200</quantity_alt>
                                                    <unit_alt>g</unit_alt>
                                                    <quantity_remark></quantity_remark>
                                                    <ref></ref>
                                                    <isPrincipal>false</isPrincipal>
                                                </item>
                                                <item>
                                                    <ingredient>水</ingredient>
                                                    <ingredient_remark></ingredient_remark>
                                                    <ingredient_process></ingredient_process>
                                                    <ingredient_form></ingredient_form>
                                                    <quantity>1</quantity>
                                                    <unit>カップ</unit>
                                                    <quantity_alt></quantity_alt>
                                                    <unit_alt></unit_alt>
                                                    <quantity_remark></quantity_remark>
                                                    <ref></ref>
                                                    <isPrincipal>false</isPrincipal>
                                                </item>
                                                <item>
                                                    <ingredient>トマトケチャップ</ingredient>
                                                    <ingredient_remark></ingredient_remark>
                                                    <ingredient_process></ingredient_process>
                                                    <ingredient_form></ingredient_form>
                                                    <quantity>2</quantity>
                                                    <unit>大さじ</unit>
                                                    <quantity_alt></quantity_alt>
                                                    <unit_alt></unit_alt>
                                                    <quantity_remark></quantity_remark>
                                                    <ref></ref>
                                                    <isPrincipal>false</isPrincipal>
                                                </item>
                                                <item>
                                                    <ingredient>しょうゆ</ingredient>
                                                    <ingredient_remark></ingredient_remark>
                                                    <ingredient_process></ingredient_process>
                                                    <ingredient_form></ingredient_form>
                                                    <quantity>1</quantity>
                                                    <unit>大さじ</unit>
                                                    <quantity_alt></quantity_alt>
                                                    <unit_alt></unit_alt>
                                                    <quantity_remark></quantity_remark>
                                                    <ref></ref>
                                                    <isPrincipal>false</isPrincipal>
                                                </item>
                                                <item>
                                                    <ingredient>塩</ingredient>
                                                    <ingredient_remark></ingredient_remark>
                                                    <ingredient_process></ingredient_process>
                                                    <ingredient_form></ingredient_form>
                                                    <quantity>2/3</quantity>
                                                    <unit>小さじ</unit>
                                                    <quantity_alt></quantity_alt>
                                                    <unit_alt></unit_alt>
                                                    <quantity_remark></quantity_remark>
                                                    <ref></ref>
                                                    <isPrincipal>false</isPrincipal>
                                                </item>
                                            </ingredients>
                                        </ingredientsSet>
                                    </Ingredient>
                                    <Ingredient>
                                        <ingredient>ご飯</ingredient>
                                        <ingredient_remark></ingredient_remark>
                                        <ingredient_process></ingredient_process>
                                        <ingredient_form>温かいもの</ingredient_form>
                                        <quantity>適量</quantity>
                                        <unit></unit>
                                        <quantity_alt></quantity_alt>
                                        <unit_alt></unit_alt>
                                        <quantity_remark></quantity_remark>
                                        <ref></ref>
                                        <isPrincipal>false</isPrincipal>
                                    </Ingredient>
                                    <Ingredient>
                                        <ingredient>塩</ingredient>
                                        <ingredient_remark></ingredient_remark>
                                        <ingredient_process></ingredient_process>
                                        <ingredient_form></ingredient_form>
                                        <quantity></quantity>
                                        <unit></unit>
                                        <quantity_alt></quantity_alt>
                                        <unit_alt></unit_alt>
                                        <quantity_remark></quantity_remark>
                                        <ref></ref>
                                        <isPrincipal>false</isPrincipal>
                                    </Ingredient>
                                    <Ingredient>
                                        <ingredient>オリーブ油</ingredient>
                                        <ingredient_remark></ingredient_remark>
                                        <ingredient_process></ingredient_process>
                                        <ingredient_form></ingredient_form>
                                        <quantity></quantity>
                                        <unit></unit>
                                        <quantity_alt></quantity_alt>
                                        <unit_alt></unit_alt>
                                        <quantity_remark></quantity_remark>
                                        <ref></ref>
                                        <isPrincipal>false</isPrincipal>
                                    </Ingredient>
                                </Ingredients>
                                <Directions>
                                    <Direction Order='1'>
                                        <StepSetsTitle></StepSetsTitle>
                                        <Steps>
                                            <Step Order='1'>鶏肉は塩少々をふる。ねぎは1.5cm幅の小口切りにする。にんにくはみじん切りにする。
                                                <StepMemo>使う材料はこれだけ。ルーを加えず、カレー粉と香味野菜のフレッシュな風味を生かす。</StepMemo>
                                                <StepMovieUrl></StepMovieUrl>
                                                <StepPictureUrl></StepPictureUrl>
                                                <Ref></Ref>
                                            </Step>
                                        </Steps>
                                    </Direction>
                                    <Direction Order='2'>
                                        <StepSetsTitle></StepSetsTitle>
                                        <Steps>
                                            <Step Order='1'>フライパンにオリーブ油小さじ2を中火で熱し、**1**の鶏肉の水けを拭いて並べる。全体に焼き色がついたら、**1**のにんにく、しょうがを加え、炒め合わせる。
                                                <StepMemo>にんにく、しょうがは鍋肌に加えて少し炒めてから全体に混ぜると焦げにくく、よい香りが出る。</StepMemo>
                                                <StepMovieUrl></StepMovieUrl>
                                                <StepPictureUrl></StepPictureUrl>
                                                <Ref></Ref>
                                            </Step>
                                        </Steps>
                                    </Direction>
                                    <Direction Order='3'>
                                        <StepSetsTitle></StepSetsTitle>
                                        <Steps>
                                            <Step Order='1'>香りがたったらねぎを加え、少ししんなりするまで炒める。
                                                <StepMemo>コロコロに切ったねぎをたっぷり。たまねぎとはまた違った甘みが出る。</StepMemo>
                                                <StepMovieUrl></StepMovieUrl>
                                                <StepPictureUrl></StepPictureUrl>
                                                <Ref></Ref>
                                            </Step>
                                        </Steps>
                                    </Direction>
                                    <Direction Order='4'>
                                        <StepSetsTitle></StepSetsTitle>
                                        <Steps>
                                            <Step Order='1'>**3**にオリーブ油大さじ1を足し、カレー粉大さじ1をふって炒め合わせる。全体になじんだら【A】を加え、煮立ったらふたをして弱めの中火で20分間ほど煮る。
                                                <StepMemo></StepMemo>
                                                <StepMovieUrl></StepMovieUrl>
                                                <StepPictureUrl></StepPictureUrl>
                                                <Ref></Ref>
                                            </Step>
                                        </Steps>
                                    </Direction>
                                    <Direction Order='5'>
                                        <StepSetsTitle></StepSetsTitle>
                                        <Steps>
                                            <Step Order='1'>さらにカレー粉大さじ1を加えて混ぜ、ご飯とともに皿に盛る。
                                                <StepMemo>カレー粉は2回に分けて加えるのがコツ。仕上げのひとふりで、香りと辛みを際立たせる。</StepMemo>
                                                <StepMovieUrl></StepMovieUrl>
                                                <StepPictureUrl></StepPictureUrl>
                                                <Ref></Ref>
                                            </Step>
                                        </Steps>
                                    </Direction>
                                </Directions>
                                <Preparations>
                                </Preparations>
                                <Remarks></Remarks>
                                <Related></Related>
                                <Tips></Tips>
                                <Photo>
                                    <PhotoUrl>http://www.kyounoryouri.jp/recipe/upfile/l_1484547312_1794.jpg</PhotoUrl>
                                    <PhotographerId>60</PhotographerId>
                                    <Photographer>野口 健志</Photographer>
                                </Photo>
                                <Licence>
                                    <Version>1.2</Version>
                                    <AllowedClientId></AllowedClientId>
                                    <ValidUntil></ValidUntil>
                                    <LicenceType>recipe</LicenceType>
                                    <Owner>NHK Educational Corporation</Owner>
                                </Licence>
                                <KeyWords>
                                    <KeyWord></KeyWord>
                                </KeyWords>
                            </Recipe>
                        </MainInformation>
                        <ClosedInformation>
                        </ClosedInformation>
                        <MediaInformation>
                            <MediaFile name='NEDKR00041226000' type='P10000_jpg'>NEDKR00041226000P10000.jpg</MediaFile>
                            <MediaFile name='NEDKR00041226000' type='P50000_jpg'>NEDKR00041226000P50000.jpg</MediaFile>
                        </MediaInformation>
                    </MaterialInformation>
                </script>



                <section id="recipe" class="mod-recipe" v-cloak>
                    <div class="mod-recipe__head" v-bind:class='{"mod-recipe__head--remi": remiPic !== null}'>
                        <ul class="mod-recipe__summary">
                            <template v-if='data.Nutrition.Value'>
                                <li class="mod-recipe__summary__nutrition">
                                    <p class="mod-recipe__summary__ttl">エネルギー</p>
                                    <p class="mod-recipe__summary__num">{{data.Nutrition.Value}}<span>{{data.Nutrition.Unit || "kcal"}}</span></p>
                                    <p class="mod-recipe__summary__caption" v-if='data.Nutrition.Remark !== ""'>※{{data.Nutrition.Remark}}</p>
                                </li>
                            </template>
                            <template v-if='data.Salt.Value'>
                                <li class="mod-recipe__summary__salt">
                                    <p class="mod-recipe__summary__ttl">塩分</p>
                                    <p class="mod-recipe__summary__num" v-if='data.Salt.Value !== ""'>{{data.Salt.Value}}<span>g</span></p>
                                    <p class="mod-recipe__summary__caption" v-if='data.Salt.Remark !== ""'>※{{data.Salt.Remark}}</p>
                                </li>
                            </template>
                            <template v-if='data.Duration.Value'>
                                <li class="mod-recipe__summary__duration">
                                    <p class="mod-recipe__summary__ttl">調理時間</p>
                                    <p class="mod-recipe__summary__num">{{data.Duration.Value}}<span>分({{stepCount}}工程)</span></p>
                                    <p class="mod-recipe__summary__caption" v-if='data.Duration.Remark !== ""'>※{{data.Duration.Remark}}</p>
                                </li>
                            </template>
                        </ul>
                        <template v-if="remiPic">
                            <template v-if="remiPic.before_on_air === false">
                                <div class="mod-recipe__dishPic">
                                    <div class="mod-articleDefault__media">
                                        <div class="mod-articleDefault__media__zoomImg">
                                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" v-lazy="remiPic.thumb_src" alt="" data-modal-target="#largeImageModal"
                                            />
                                            <!---->
                                        </div>
                                        <div class="p-modal" id="largeImageModal">
                                            <div class="p-modal__close">閉じる</div>
                                            <div class="p-modal__inner">
                                                <div class="p-modal__inner__content">
                                                    <div class="mod-video">
                                                        <div class="mod-video__media">
                                                            <img class="lazyload" :data-src="remiPic.src" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <template v-if="remiPic.before_on_air === true">
                                <div class="mod-recipe__dishPic mod-recipe__dishPic__null">
                                    <div class="mod-articleDefault__media">
                                        <img src="/lifestyle/assets/img/common/pic-remi.png" alt="料理写真は放送終了後に掲載予定">
                                    </div>
                                </div>
                            </template>
                        </template>
                        <template v-if="lecturerPic">
                            <div class="mod-recipe__lecturer">
                                <div class="mod-recipe__lecturer__pic" v-bind:style='{"background-image": "url("+lecturerPic+")"}'>&emsp;</div>
                                <p class="mod-recipe__lecturer__ttl">講師</p>
                                <p class="mod-recipe__lecturer__name">{{data.Authors.Author.AuthorName}}</p>
                                <template v-if="lecturerLink">
                                    <a :href="lecturerLink" class="c-blankLink c-blankLink--blue" target="_blank">このほかのレシピ</a>
                                    <p class="mod-recipe__lecturer__caption">※クリックするとNHKサイトを離れます。</p>
                                </template>
                            </div>
                        </template>
                    </div>
                    <hr class="c-horizontalRule"></hr>
                    <div class="mod-recipe__body">
                        <div class="mod-recipe__left">
                            <div class="mod-recipe__leftBody">
                                <h2 class="mod-recipe__heading">材料</h2>
                                <p class="mod-recipe__portion" v-if='data.Yield.Value'>{{data.Yield.Value + (data.Yield.Unit || "人分")}}</p>
                                <p class="mod-recipe__portion" v-if='data.Yield.Remark'>{{data.Yield.Remark}}</p>
                                <ul class="mod-recipe__ingredients">
                                    <template v-for="(ingredient, idx) in data.Ingredients.Ingredient_asArray">
                                        <template v-if="ingredient.ingredient">
                                            <li class="dt">{{ingredient.ingredient}}
                                                <template v-if="ingredient.ingredient_process">({{ingredient.ingredient_process}})</template>
                                                <template v-if="ingredient.ingredient_form">({{ingredient.ingredient_form}})</template>
                                                <span class="dd">{{ quantityMeetsUnit(ingredient.quantity, ingredient.unit) }}
                                                    <template v-if="ingredient.quantity_alt">({{ quantityMeetsUnit(ingredient.quantity_alt, ingredient.unit_alt) }})</template>
                                                </span>
                                                <p class="caption" v-if="ingredient.ingredient_remark">※{{ingredient.ingredient_remark}}</p>
                                            </li>
                                        </template>
                                        <template v-if="ingredient.ingredientsSet">
                                            <li class="dt mod-recipe__subHeading" v-if="ingredient.ingredientsSet.set_title">【{{ingredient.ingredientsSet.set_title}}】</li>
                                            <li class="dd is-ingredientsSet">
                                                <ul>
                                                    <template v-for="(ingredient, idx) in ingredient.ingredientsSet.ingredients.item_asArray">
                                                        <template v-if="ingredient.ingredient">
                                                            <li class="dt">{{ingredient.ingredient}}
                                                                <template v-if="ingredient.ingredient_process">({{ingredient.ingredient_process}})</template>
                                                                <template v-if="ingredient.ingredient_form">({{ingredient.ingredient_form}})</template>
                                                                <span class="dd">{{ quantityMeetsUnit(ingredient.quantity, ingredient.unit) }}
                                                                    <template v-if="ingredient.quantity_alt">({{ quantityMeetsUnit(ingredient.quantity_alt, ingredient.unit_alt) }})</template>
                                                                </span>
                                                                <p class="caption" v-if="ingredient.ingredient_remark">※{{ingredient.ingredient_remark}}</p>
                                                            </li>
                                                        </template>
                                                        <template v-if="ingredient.ingredientsSet">
                                                            <li class="dt mod-recipe__subHeading" v-if="ingredient.ingredientsSet.set_title">【{{ingredient.ingredientsSet.set_title}}】</li>
                                                            <li class="dd is-ingredientsSet">
                                                                <ul>
                                                                    <template v-for="(ingredient, idx) in ingredient.ingredientsSet.ingredients.item_asArray">
                                                                        <li class="dt">{{ingredient.ingredient}}
                                                                            <template v-if="ingredient.ingredient_process">({{ingredient.ingredient_process}})</template>
                                                                            <template v-if="ingredient.ingredient_form">({{ingredient.ingredient_form}})</template>
                                                                            <span class="dd">{{ quantityMeetsUnit(ingredient.quantity, ingredient.unit) }}
                                                                                <template v-if="ingredient.quantity_alt">({{ quantityMeetsUnit(ingredient.quantity_alt, ingredient.unit_alt) }})</template>
                                                                            </span>
                                                                            <p class="caption" v-if="ingredient.ingredient_remark">※{{ingredient.ingredient_remark}}</p>
                                                                        </li>
                                                                    </template>
                                                                </ul>
                                                            </li>
                                                        </template>
                                                    </template>
                                                </ul>
                                            </li>
                                        </template>
                                    </template>
                                </ul>
                            </div>
                            <div class="mod-recipe__preparation" v-if="data.Preparations.Preparation">
                                <h2 class="mod-recipe__heading">下ごしらえ・準備</h2>
                                <template v-for="(Preparation, rootIdx) in data.Preparations.Preparation_asArray">
                                    <template v-for="(Step, idx) in Preparation.Steps.Step_asArray">
                                        <p class="mod-recipe__preparation__text">
                                            <span class="" v-html='num2circledNum(rootIdx + 1)'></span><span v-html='Step.__text'></span>
                                        </p>
                                    </template>
                                </template>
                            </div>
                            <div class="mod-recipe__preparation" v-else>
                                <h2 class="mod-recipe__heading">下ごしらえ・準備</h2>
                                <p class="mod-recipe__preparation__text">なし</p>
                            </div>
                        </div>
                        <div class="mod-recipe__steps">
                            <h2 class="mod-recipe__heading">つくり方</h2>
                            <ol class="mod-recipe__steps__body">
                                <template v-for="(Direction, rootIdx) in data.Directions.Direction_asArray">
                                    <template v-if="newStepSetTitleOrIgnore(Direction, rootIdx, data.Directions.Direction)">
                                        <li class="mod-recipe__subHeading">【{{Direction.StepSetsTitle}}】</li>
                                    </template>
                                    <template v-for="(Step, idx) in Direction.Steps.Step_asArray">
                                        <li class="mod-recipe__steps__step">
                                            <span class="mod-recipe__steps__num">{{rootIdx + 1}}</span><span v-html='asterisk2NumSpan(Step.__text)'></span>
                                            <div class="mod-recipe__point" 　v-if='Step.StepMemo'>
                                                <p class="mod-recipe__point__ttl">ポイント</p>
                                                <p class="mod-recipe__point__text" v-html='nl2br(asterisk2NumSpan(Step.StepMemo))'></p>
                                            </div>
                                        </li>
                                    </template>
                                </template>
                            </ol>
                            <aside class="mod-recipe__comment" v-if='data.Tips'>
                                <div class="mod-recipe__comment__inner">
                                    <p class="mod-recipe__comment__text" v-html='nl2br(asterisk2CircledNum(data.Tips))'></p>
                                </div>
                            </aside>
                            <aside class="mod-recipe__comment" v-if='data.Remarks'>
                                <div class="mod-recipe__comment__inner">
                                    <p class="mod-recipe__comment__text" v-html='nl2br(data.Remarks)'></p>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <script type="application/ld+json" v-if="schema">
                        {{schema}}
                    </script>
                </section>
                <hr class="c-horizontalRule"></hr>

                <div class="p-nhk-snsbtn nhk-snsbtn"></div>
            </article>

            <aside class="p-relatedArea">

                <div class="p-relatedArea__links">
                    <a href="../../cooking/index.html" class="c-bltLink">料理一覧</a>
                </div>
            </aside>
        </main>
        <footer class="footer">
            <div class="footer__siteSpecific">

                <div class="swiper-container js-slider--relatedPrograms footer__programList">
                    <ul class="swiper-wrapper">

                        <li class="swiper-slide">
                            <a href="//www4.nhk.or.jp/gogonama/">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="../../r69s2g000000009y-img/bnr-10-01.png" alt="ごごナマ"  />
							</a>
                        </li>

                        <li class="swiper-slide">
                            <a href="//nhk.jp/kyounoryouri">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="../../r69s2g000000009y-img/bnr-01-01.png" alt="きょうの料理"  />
							</a>
                        </li>

                        <li class="swiper-slide">
                            <a href="//nhk.jp/ryouri-begi">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="../../r69s2g000000009y-img/bnr-02-01.png" alt="きょうの料理ビギナーズ"  />
							</a>
                        </li>

                        <li class="swiper-slide">
                            <a href="http://nhk.jp/syumi-engei">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="../../r69s2g000000009y-img/bnr-03.png" alt="趣味の園芸"  />
							</a>
                        </li>

                        <li class="swiper-slide">
                            <a href="//nhk.jp/engei-hidamariya">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="../../r69s2g000000009y-img/bnr-04.png" alt="趣味の園芸　グリーンスタイル　京も一日陽だまり屋"  />
							</a>
                        </li>

                        <li class="swiper-slide">
                            <a href="http://nhk.jp/engei-yasai">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="../../r69s2g000000009y-img/bnr-05.png" alt="趣味の園芸　やさいの時間"  />
							</a>
                        </li>

                        <li class="swiper-slide">
                            <a href="//nhk.jp/syumidoki">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="../../r69s2g000000009y-img/bnr-06.png" alt="趣味どきっ！"  />
							</a>
                        </li>

                        <li class="swiper-slide">
                            <a href="//nhk.jp/marutoku">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="../../r69s2g000000009y-img/bnr-07.png" alt="まる得マガジン"  />
							</a>
                        </li>

                        <li class="swiper-slide">
                            <a href="//nhk.jp/handmade">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="../../r69s2g000000009y-img/bnr-08.png" alt="すてきにハンドメイド"  />
							</a>
                        </li>

                        <li class="swiper-slide">
                            <a href="http://www.nhk.or.jp/gc/">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="../../r69s2g000000009y-img/bnr-09.png" alt="ガールズクラフト"  />
							</a>
                        </li>

                    </ul>
                    <div class="swiper-button-next p-slider__nav p-slider__nav--next"></div>
                    <div class="swiper-button-prev p-slider__nav p-slider__nav--prev"></div>
                </div>

                <a class="footer__reload" href="javascript:location.reload(true);"></a>
                <a class="footer__home" href="/lifestyle/"></a>
                <div class="footer__pageTop"></div>
            </div>
            <script type="text/javascript">
                nol_showCmnFooter();
            </script>
        </footer>

    </div>
    <script src="../../assets/js/bluebird.min.js"></script>
    <script src="../../assets/js/fastclick.8k.js"></script>
    <script src="../../assets/js/SnapSVGAnimator.min.js"></script>
    <script src="//www.nhk.or.jp/common/jquery/jquery-3.1.js"></script>
    <script src="../../assets/js/app.js?date=20171120"></script>

</body>

</html>